{% extends "layout.html" %}
{% block content %}

							<h3 style="color:#0088cc; margin-top:10px;line-height:25px">About Drunkspotting</h3>

<p style="font-size:18px"><strong>55 people creating a company in two hours. Why? Because we can.</strong></p>

<p>Prior to the opening of the SXSW Conference in Austin, hundreds upon hundreds of eager entrepreneurs boarded six buses to participate in the 2013 StartupBus.  An unbelievable set of ideas emerged, ranging from anonymous chat rooms to military career building websites to crowdfunded book publishing.  One idea that stood out, however, was an app that allowed users to draw random things on pictures of clouds.</p>

<p>Not being dashed, we started thinking of other stuff that we could consider drawing on.  And we quickly realized that a canvas many of us already use is our drunken, passed out friends and strangers.</p>
 
<p>And thus, an app was born.</p>
<br/><br/>

{% endblock %}
