{% extends "layout.html" %}
{% block content %}
		<div id="body">
			<h3>Upload and draw on images of inebriated friends, smashed strangers or crunked cats.</h3>
{#
			<div class="content">
				<a target="_blank" id="beta_signup" class="btn" href="https://docs.google.com/forms/d/1hdfyz0WY087RpI6BVCu-qttQFWWzV_fsfhB6Jib1GMA/viewform">Sign up for beta</a><br/>
				<strong><a href="http://twitter.com/drunkspotting">#wasteTheRainbow</a></strong>
			</div>
#}

			<form method="POST" id="uploader" enctype="multipart/form-data">
				<a href="#editor" id="upload" class="bottom_tooltip" title="Upload your drunk" onclick="$('#data').click();"></a>
				<input id="data" type="file" name="data" onchange="drunkspotting.upload_ajax();" style="visibility:hidden;">
			</form>
			
			<div id="share">
				<span class='st_twitter_large' displayText='Tweet' st_title="Drunkspotting: Draw on photos of drunk friends! #wasteTheRainbow"></span>
		        <span class='st_facebook_large' displayText='Facebook' st_title="Drunkspotting: Draw on photos of drunk friends! #wasteTheRainbow"></span>
		        <span class='st_tumblr_large' displayText='Tumblr' st_title="Drunkspotting: Draw on photos of drunk friends! #wasteTheRainbow"></span>
		        <span class='st_email_large' displayText='Email' st_title="Drunkspotting: Draw on photos of drunk friends! #wasteTheRainbow"></span>
			</div>
			
			<!-- Start lushes box -->
			<h2>latest lushes</h2>
			<div id="posts">
			</div>
			<div id="posts_loading"></div>
		</div>
		<!-- Start Edit Panel -->
		<div id="editor">
			<div id="tools">
				<a href="#colors" id="my_color"><span></span></a>
				<a href="#size" id="my_size"><span></span></a>
				<button id="button_save" class="btn" onClick="drunkspotting.save_drawing();">Save</button>
				<div class="clear"></div>
			</div>
			<canvas id="sketch" width="640" height="640"></canvas>
			
			<!-- Add an edit button, passing the HTML id of the image and the public URL of the image -->
		</div>
		<!-- End Edit Panel -->
{% endblock %}
