<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title 'DrunkSpotting | #wastetherainbow' %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Olas Navigator">
        
        {% block header '' %}
        
        <link rel="icon" type="image/x-icon" href="/assets/ico/favicon.png" />
        <link rel="shortcut icon" type="image/x-icon" href="/assets/ico/favicon.png" />
		<!-- non-retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="/assets/ico/icon57.png" sizes="57x57">
        <!-- non-retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="/assets/ico/icon72.png" sizes="72x72">
        <!-- non-retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="/assets/ico/icon76.png" sizes="76x76">
        <!-- retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="/assets/ico/icon114.png" sizes="114x114">
        <!-- retina iPhone iOS 7 -->
        <link rel="apple-touch-icon" href="/assets/ico/icon120.png" sizes="120x120">
        <!-- retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="/assets/ico/icon144.png" sizes="144x144">
        <!-- retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="/assets/ico/icon152.png" sizes="152x152">
        <!-- Win8 tile -->
        <meta name="msapplication-TileImage" content="/assets/ico/win-touch-144.png">
        <meta name="msapplication-TileColor" content="#f1f7f5"/>
        <meta name="application-name" content="Drunkspotting" />
        
        <!-- IE11 tiles -->
        <meta name="msapplication-square70x70logo" content="/assets/ico/win-touch-70.png"/>
        <meta name="msapplication-square150x150logo" content="/assets/ico/win-touch-150.png"/>
        <meta name="msapplication-wide310x150logo" content="/assets/ico/win-touch-310wide.png"/>
        <meta name="msapplication-square310x310logo" content="/assets/ico/win-touch-310.png"/>

        <!-- required styles -->
        <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- custom styles -->
        <link href="/assets/css/style.css" rel="stylesheet">
        
        <!-- tumblr share -->
        <script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
        
        <!-- google analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-39299157-1']);
          _gaq.push(['_setDomainName', 'drunkspotting.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <div id="top">
        	<div class="contain">
				<a href="/" class="logo"><img src="/assets/img/logo.png"/></a>
				<h1><a href="/">drunkspotting</a></h1>
				
				<form method="POST" id="uploader" enctype="multipart/form-data">
					<a href="#editor" id="upload" class="bottom_tooltip" title="Upload your drunk"></a>
					<input id="data" type="file" name="data" style="visibility:hidden;">
				</form>
        	</div>
		</div>
        {% block content '' %}
        
        <!-- Start Edit Panel -->
		<div id="editor">
			<div id="tools">
				<a href="#colors" id="my_color"><span></span></a>
				<a href="#size" id="my_size"><span></span></a>
				<button id="button_save" class="btn">Save</button>
				<button id="button_cancel" class="btn">Cancel</button>
				<div class="clear"></div>
			</div>
			<canvas id="sketch" width="640" height="640"></canvas>
			
			<!-- Add an edit button, passing the HTML id of the image and the public URL of the image -->
		</div>
		<!-- End Edit Panel -->
        
        <div id="footer">
			<div>
				<a href="https://twitter.com/drunkspotting">Follow us on Twitter</a><br/>
				<a href="https://www.facebook.com/drunkspotting">Like us on Facebook</a><br/>
				<a href="{{ path('about') }}" style="vertical-align:bottom">About Drunkspotting</a><br/>
				<a href="http://www.startupbus.com"><img src="/assets/img/startupbus.png"></a><br/>
				
				<p>Made with love by Buspreneurs at SXSW '13</p>
			</div>
		</div>

        <!-- base -->
        <script src="/assets/js/jquery.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
        <script src="/assets/plugins/jquery-ui-slider.js"></script>
        <script src="/assets/js/sketch.js"></script>

        <!-- Custom JS -->
        <script src="/assets/js/ds_main.js"></script>

        <!-- Templates -->
        <div style='display:none'>
            <script type='text/template' id='template-listing'>
            	<div class='item' id='spot_{id}'>
            		<a href='{{base_uri}}/spot/{id}' class='spot'><img src='{src}'/></a>
            		<div class='bar'>
            			<span class='comment_count'><a href='{{base_uri}}/spot/{id}#disqus_thread' data-disqus-identifier='spot_{id}'>{comment_count}</a><span class='bot'></span></span>
            			<div class='social'>
            				<a href='http://www.facebook.com/sharer/sharer.php?u={{base_uri}}/spot/{id}' target='_blank' class='facebook'></a><!--
            				--><a href='https://twitter.com/share?url={{base_uri}}/spot/{id}&text=Yup,%20this%20just happened&hashtags=wastetherainbow&via=drunkspotting' target='_blank' class='twitter'></a><!--
            				--><a href='http://www.tumblr.com/share/link?url={{base_uri}}%2Fspot%2F{id}&name=Yup,%20this%20just%20happened&description=Waste%20the%20rainbow' target='_blank' class='tumblr'></a>
            			</div>
            		</div>
            		<div class='comments'></div>
            	</div>
            </script>
        </div>
		<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
		</script>
    </body>
</html>
