/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body * {
	font-family: Verdana, sans-serif;
}

body, html {
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	background: #a9f5d6 url("../img/bg_rpt.png") fixed;
}
.clear {
	clear: both;
}
a {
	color: #16536e;
}
h1, h2 {
	font-weight: bold;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}
h1 {
	font-size: 1.7em;
}
h2 {
	font-size: 1.6em;
}
h1 a {
	color: inherit;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
}
h3 {
	font-size: 1.2em;
	text-shadow: 0px 1px 0px #ffffff;
	padding: 0 30px;
}
.contain {
	max-width: 520px;
	margin: auto;
}

/* Top Section */
#top {
	background: #00a9bf url("../img/head_bg.png");
	color: #fff;
	height: 62px;
	-webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .3);
	box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .3);
	position: fixed;
	width: 100%;
	z-index: 200;
}
#top .logo {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin-right: 10px;
	position: relative;
	top: 10px;
}
#top .logo img {
	width: 45px;
}
#top h1 {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	line-height: 60px;
}
#top .contain {
	text-align: left;
	position: relative;
}

/* Body Section */
#body {
	padding: 80px 0 0 0;
}
#body .content {
	padding: 20px;
}
#body .about {
	text-align: left;
}
#body .content p {
	margin-bottom: 1.5em;
}

#share {
	padding: 10px;
	z-index: 1;
}
#uploader {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	position: absolute;
	top: 9px;
	right: 15px;
}
#upload {
	display: block;
	overflow: hidden;
	width: 52px;
	height: 42px;
	background: url("/assets/img/icon_camera.png") no-repeat 0 0;
}
#upload:hover {
	background: url("/assets/img/icon_camera.png") no-repeat 0 100%;
}
#data {
	visibility: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
}
#posts, #post {
	max-width: 520px;
	margin: auto;
}
#posts .item, #post .item {
	max-width: 520px;
	margin: 20px auto 50px auto;
}
#posts .item .spot, #post .item .spot {
	display: block;
	max-width: 480px;
	position: relative;
	margin: auto;
}
#posts .item .spot img, #post .item .spot img {
	width: 100%;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .3);
	box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .3);
}
#posts .item .comments img, #post .item .comments img {
	width: auto !important;
	height: auto !important;
}
.item .bar {
	background: #ebebf5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWJmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ebebf5 0%, #d3d3e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebf5), color-stop(100%,#d3d3e5));
	background: -webkit-linear-gradient(top,  #ebebf5 0%,#d3d3e5 100%);
	background: -o-linear-gradient(top,  #ebebf5 0%,#d3d3e5 100%);
	background: -ms-linear-gradient(top,  #ebebf5 0%,#d3d3e5 100%);
	background: linear-gradient(to bottom,  #ebebf5 0%,#d3d3e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebf5', endColorstr='#d3d3e5',GradientType=0 );
	height: 50px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #cfccdc;
	-webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .2);
	box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .2);
	z-index: 90;
	position: relative;
	text-align: left;
}
.bar .comment_count {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	line-height: 26px;
	margin: 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow:  0px 1px 0px 0px rgba(255, 255, 255, .8), inset 0px 1px 3px 0px rgba(0, 0, 0, .3);
	box-shadow:  0px 1px 0px 0px rgba(255, 255, 255, .8), inset 0px 1px 3px 0px rgba(0, 0, 0, .3);
	background: #009cb0;
	text-decoration: none;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .6);
	position: relative;
}
.bar .comment_count a {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	line-height: 26px;
	padding: 0 10px;
	color: #fff;
	text-decoration: none;
}
.bar .comment_count .bot {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 11px;
	height: 7px;
	position: absolute;
	left: 50%;
	bottom: -7px;
	margin-left: -8px;
	background: url("../img/com_bot.png");
}
.bar .social {
	float: right;
}
.social a {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 50px;
	height: 50px;
	border-left: 1px solid #cfccdc;
	background-repeat: no-repeat;
	background-position: center center;
}
.social a:hover {
	background-color: rgba(237,237,247,.5);
}
.facebook {
	background-image: url("../img/icon_facebook.png");
}
.twitter {
	background-image: url("../img/icon_twitter.png");
}
.tumblr {
	background-image: url("../img/icon_tumblr.png");
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#spot_url {
	display: none;
}

/* Comments */
.item .comments {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	background-color: #f5f5fc;
	max-width: 480px;
	margin: auto;
	border: 1px solid #d6d6dc;
	border-top: 0;
}
#disqus_thread {
	padding: 15px;
}

/* Edit Panel */
#editor {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	bottom: 0;
	z-index: 300;
	background-color: #f3f3f3;
}
#tools {
	padding: 10px;
	text-align: left;
}
#color_popup, #size_popup {
	z-index: 100;
}
#my_color, #my_size, #color_popup a, #size_popup a {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 38px;
	height: 38px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.3);
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	float: left;
	position: relative;
	margin-right: 10px;
}
#my_color span, #color_popup a span, #size_popup a span {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 28px;
	height: 28px;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, .75);
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, .75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#my_size span, #size_popup span {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	-webkit-border-radius: 60px !important;
	-moz-border-radius: 60px !important;
	border-radius: 60px !important;
	background-color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	margin: -3px;
}
[data-size="2"] span {
	width: 2px !important;
	height: 2px !important;
	margin: -1px !important;
}
[data-size="6"] span {
	width: 6px !important;
	height: 6px !important;
	margin: -3px !important;
}
[data-size="10"] span {
	width: 10px !important;
	height: 10px !important;
	margin: -5px !important;
}
[data-size="16"] span {
	width: 16px !important;
	height: 16px !important;
	margin: -8px !important;
}
[data-size="20"] span {
	width: 20px !important;
	height: 20px !important;
	margin: -10px !important;
}
.btn {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255, 255, 255, .75);
	box-shadow: inset 0px 0px 1px 0px rgba(255, 255, 255, .75);
	font-size: 18px;
	font-weight: bold;
	padding: 0px 20px;
	line-height: 36px;
	box-sizing: border-box;
	cursor: pointer;
	text-shadow: 0px -1px 0px rgba(0,0,0,.8);
	text-decoration: none;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
#button_save, #beta_signup {
	background: #23a570 url("/assets/img/btn_bg.png") repeat-x 0 bottom;
	color: #fff;
	border: 1px solid #0a6540;
}
#button_cancel {
	background: #dd3e3e url("/assets/img/btn_bg.png") repeat-x 0 bottom;
	color: #fff;
	border: 1px solid #671212;
	float: right;
}

#button_save {
	float: right;
}

#footer {
	padding: 20px;
}
#footer a {
	text-decoration: none;
}

#loading, #cover {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background-color: rgba(255,255,255,.9);
	z-index: 100;
}
#cover .error {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	padding: 20px;
	background-color: #dd3e3e;
	color: #fff;
	font-weight: bold;
}
#loading img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -25px; 
}
#color_popup, #size_popup {
	position: fixed;
	top: 60px;
	max-width: 100%;
	border: 1px solid #a6a6a6;
	background-color: #cccccc;
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}


/* Toggle */
.edit #body {
	display: none;
}
.edit #editor {
	display: block;
}
#sketch {
	max-width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	z-index: 10;
}

/* Media Query */

@media only screen and (max-width: 640px) {
	body, html {
		font-size: 14px;
	}
	h2 {
		text-align: left;
	}
	#body {
		position: relative;
	}
	#post, #posts {
		padding: 0px 15px;
	}
	#body .content {
		line-height: 32px;
	}
	.contain {
		padding: 0 15px;
	}
	/*f#h {
		padding: 5px 0 0 0;
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: #fff;
		border-top: 1px solid #00b2c9;
	}*/
	#footer {
		line-height: 28px;
	}
}